package views

import (
	"go-fiber/internal/vacancy"
	"go-fiber/views/layout"
	"go-fiber/views/widgets"
)

templ Main(vacancies []vacancy.Vacancy) {
	@layout.Layout(layout.LayoutProps{
		Title:           "Найди работу мечты",
		MetaDescription: "Сайт по поиску работы мечты",
	}) {
		<main>
			@mainCSS()
			@layout.Header()
			@widgets.VacancyWidget(vacancies)
			@widgets.VacancyForm()
		</main>
	}
}

templ mainCSS() {
}
