package views

import "go-fiber/views/components"
import "go-fiber/views/layout"

templ Main() {
    <main>
    @layout.Header() {
        @components.PageTitle("Найди работу своей мечты!")
    }
    </main>
}
