:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #808080;
    --color-primary: #309689;
    --color-primary-hover: #1c786b;
    --margin-default: 75px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    width: 100vw; /* вместо 100% */
    min-height: 100vh; /* вместо 100% */
    overflow-x: hidden; /* предотвратить горизонтальный скролл */
    background: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
