package layout

css headerClass() {
    text-align: { "center" };
    background-color: { "#222222" };

}

templ Header() {
    <div class={ headerClass() }>
        @Menu()
        { children... }
    </div>
}